* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    padding: 17px 0 157px;
}

.header__menu {
    margin-bottom: 110px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu__logo {
    text-decoration: none;
    font: 26px Lora, sans-serif;
    color: rgb(255, 255, 255);
}

.menu__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.menu__list-item {
    padding: 10px 20px;
}

.menu__link {
    text-decoration: none;
    font: 12px/20px Oxygen, sans-serif;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.header__content {
    padding: 0;
}

.header__title {
    text-align: center;
    font: 50px/51px Lora;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 1);
    margin: 0 0 20px 0;
}

.header__subtitle {
    text-align: center;
    font: 17px/20px Oxygen;
    color: rgba(255, 255, 255, 0.63);
    margin: 0 0 31px 0;
}

.header__button {
    text-align: center;
    background: rgba(221, 120, 63, 1);
    max-width: 167px;
    padding: 12px 31px;
    margin: 0 auto;
    border-radius: 3px;
}

.header_link {
    font: 13px/20px Oxygen;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.main {

}

.title-main {

}

.title-main__menu {

}

.title-main__navigation {
    padding: 9px 0 10px;
}

.title-main__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.title-main__list-item {
    padding: 13px 46px;
}

.title-main__link {
    text-decoration: none;
    font: 14px/20px Lora, sans-serif;
    color: rgba(118, 128, 136, 1);
    text-align: center;
}

.content {
    padding-bottom: 89px;
    background: rgba(247, 247, 247, 1);
}

.content__header {
    padding: 60px 0 16px;
}

.content__text {
    padding-bottom: 1px;
}

.content__title {
    text-align: center;
    margin-bottom: 17px;
    font: 20px/27px Oxygen, sans-serif;
    letter-spacing: 2px;
    color: rgba(46, 46, 46, 1);

}

.content__line {
    /* text-align: center; */
    max-width: 188px;
    max-height: 1px;
    margin: 16px auto 0;
    background: rgba(222, 222, 222, 1);
    color: rgba(222, 222, 222, 1);

    /* background-color: black; */
}

.content__banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 20px;
}

.content__img1 {
    background-image: url("../img/content__img1.png");
    width: 460px;
    padding: 157px 20px 15px 20px;
    background-size: cover;
    border-radius: 3px;
}

.content__titleimg {
    font: 27px/30px Lora, sans-serif;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 6px;
}

.content__subtitle {
    font: 14px/25px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 12px;
}

.content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.content__descriprion {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.content__icon {
    max-height: 26px;
    max-width: 26px;
    border-radius: 60px;
}

.content__name {
    font: 12px/35px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    
}

.content__date {
    font: 12px/35px Oxygen, sans-serif;
    color: rgba(255, 255, 255, 0.7);

}

.content__img2 {
    background-image: url("../img/air_ballon.png");
    width: 460px;
    padding: 157px 20px 15px 20px;
    background-size: cover;
    border-radius: 3px;
}

.content__main {
    padding-top: 60px;
}

.content__menupikchers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.content__post {
    width: 296px;
    padding: 0;
}

.content__air {
   
}    

.content__post-text {
    padding: 14px 28px 33px 13px;
}

.content__post-title {
    text-align: left;
    margin-bottom: 6px;
    font: 16px/21px Lora, sans-serif;
    color: rgba(16, 19, 21, 1);

}

.content__post-subtitle {
    text-align: left;
    font: 13px/19px Oxygen, sans-serif;
    color: rgba(122, 122, 122, 1);
}

.content__footer_accent {
    background: rgba(252, 252, 252, 1);
}

.content__name_accent {
    color: rgba(153, 153, 153, 1);
}

.footer {
    background-image: url("../img/back_footer.png");
    background-size: cover;
}
.footer_accent {
    padding: 28px 0 27px;
}